*{
  margin: 0px;
  padding: 0px;
}
html{
  font-size: 10px;
}
body{
  font-family: sans-serif;
  
}
/* .chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
form{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

form input{
  padding: 10px;
  font-size: 20px;
  border: 1px solid green;
  outline: none;
  border-radius: 10px;

}


button{
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 10px;

} */